@model IEnumerable<CMS.DocumentEngine.Types.Article>

@{
    ViewBag.Title = Resources.GetString("TestMvcDemo.Articles");
    var i = 1; 
}

@foreach (var article in @Model)
{
    <div class="col-md-3">
        <div class="article-tile">
            <a href="@Url.Action("Show", "Articles", new { id = article.DocumentID })">
                <img alt="Article @article.ArticleTitle" src="@Url.Kentico().Attachment(article.ArticleTeaser, SizeConstraint.Height(200))" class="article-tile-image">
            </a>
            <div class="article-tile-date">
                @article.PublicationDate.ToString("m")
            </div>
            <div class="article-tile-content">
                <h2 class="h4">
                    <a href="@Url.Action("Show", "Articles" , new { id=article.DocumentID })">@article.ArticleTitle</a>
                </h2>
                <p class="article-tile-text">
                    @article.ArticleSummary
                </p>
            </div>
        </div>
    </div>
    if (i % 4 == 0)
    {
        <div class="clear"></div>
    }
    i++;
}
